{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>krkrkr</title>
    </head>
    <div class=" px-4">
    <h1>Les annonces</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Titre</h5>
    <p class="card-text">Description</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prix</li>
    <li class="list-group-item">tag1 - tag2 - tag3</li>
    <li class="list-group-item">Date de publication</li>
  </ul>
  <div class="card-body">
   <button type="button" class="btn btn-success btn-sm">Vote bien</button>
   <button type="button" class="btn btn-danger btn-sm">Vote mauvais</button>
  </div>

    </div>
</html>
{% endblock %}